* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.encabezado {
    border: 2px solid green;
}

.contenedor-banner {
    border: 2px solid blue;
    height: 200px;
}

.contenedor-inf {
    border: 2px solid orange;
}

.menu-navbar {
    border: 2px dashed green;
}

.contenedor-seccion {
    border: 2px solid black;
}